*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url(images/3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.half{
    text-align: center;
    padding-top: 15%;
    color: white;
}
.half h1{
    font-size: 40px;
    font-weight: 900;
}
.half p{
    padding-top: 10px;
    padding-bottom: 40px;
}
.title{
    padding: 10px 20px;
    background-color: coral;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.flex{
    text-align: center;
    padding-top: 80px;
}
.flexible-container{
    display: flex;
    margin: 40px 500px 40px 500px;
}
.flexible{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 5px;
}
.flexible h1{
    color: gray;
    font-weight: 700;
}
#box{
    border: 1px solid coral;
    background-color: rgb(249, 241, 238);
}
.new{
    color: coral;
}
.container{
    text-align: center;
}
.contain p{
    color: gray;
}
hr{
    color: gray;
    margin: 0 500px 0 500px;
}
.main-container{
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 50px;
}
.about-food{
    border: 1px solid #ddd;
    margin: 5px;
    padding: 40px 28px;
}
.about-food h1{
    margin-top: 10px;
}
.about-food p{
    margin-top: 10px;
}
.foods{
    background-color: #F0F8FF;
}
.shelter{
    background-color: #FAEBD7;   
}
.education{
    background-color: #7FFFD4;
}
.new-title{
    display: flex;
    margin-top: 40px;
    margin-left: 120px;
}
.extra-line{
    text-align: center;
}
.extra-line p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.extra-line a{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
}
.new-line img{
    width: 450px;
    padding-left: 100px;
}
.word{
    text-align: center;
    margin: 40px 200px 40px 200px;
    padding: 50px;
    background-color: #FAEBD7;
}
.words{
    background-color: #aac8e2;
    padding: 5px;
}
.hello{
    background-color: coral;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
}
footer{
    text-align: center;
    background-color: black;
    color: #ddd;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer h1{
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
    padding-bottom: 10px;
}